 /* Overall styling */

 *, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 375px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

:root {
  --white: #fff;

  --scissors-gradient-1: #ec9e0e;
  --scissors-gradient-2: #eca922;

  --paper-gradient-1: #4865f4;
  --paper-gradient-2: #5671f5;

  --rock-gradient-1: #dc2e4e;
  --rock-gradient-2: #dd405d;

  --lizard-gradient-1: #834fe3;
  --lizard-gradient-2: #8c5de5;

  --cyan-gradient-1: #40b9ce;
  --cyan-gradient-2: #52bed1;

  --neutral-dark-text: #3b4363;
  --neutral-score-text: #2a46c0;
  --neutral-header-outline: #606e85;

  --background-gradient-1: #1f3756;
  --background-gradient-2: #141539;

  --border-size: 23px;
}

/* element styling */

html, body, button, input {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: var(--white);
  height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(var(--background-gradient-1), var(--background-gradient-2));
}

button {
  cursor: pointer;
  font-size: 1rem;
}

h1 {
  text-transform: uppercase;
  font-size: 38px;
  line-height: 31px;
}

h2 {
  font-size: 32px;
  line-height: 0;
}

h3 {
  color: var(--neutral-score-text);
  line-height: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

/* Main Wrapper */
.wrapper-body {
  max-width: 1200px;
  margin: auto;
  padding: 1.2rem;
  padding-top: 2.5rem;
  height: 100%;
}

/* Rock, Paper, Scissors header tile */
.wrapper-header-banner {
  border: 3px solid var(--neutral-header-outline);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 2rem;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
}

.wrapper-score-tile {
  background-color: var(--white);
  height: 115px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.score-number {
  color: var(--neutral-dark-text);
  font-size: 70px;
  margin-top: -15px;
}
/* END - Rock, Paper, Scissors header tile */

/* Rules Button - Bottom right */
.btn-rules {
  text-transform: uppercase;
  border: 2px solid var(--neutral-header-outline);
  background: transparent;
  letter-spacing: 0.08rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.wrapper-rules-btn {
  display: flex;
  justify-content: flex-end;
}

/* Rules Modal Window */
.wrapper-rules-modal {
  display: block;
  background-color: var(--white);
  color: var(--neutral-dark-text);
  text-transform: uppercase;
  width: 415px;
  max-width: 100%;
  height: 400px;
  border-radius: 0.5rem;
  padding: 1.2rem 1.8rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.wrapper-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.rules-image {
  display: block;
  margin: 0 auto;
  padding-top: 1.8rem;
}

.wrapper-rules-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-rules-top img {
  width: 20px;
}

.wrapper-rules-top button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
}
/* END - Rules Modal Window */

/* Rock Paper Scissors Game Icons */
.close {
  display: none !important;
}

.wrapper-rps-btns {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;  
  margin-top: 4.7rem;
  margin-bottom: 2rem;
}

.wrapper-rps-btns button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.wrapper-rps-btns:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-paper img, .wrapper-scissors img {
  height: 80px;
}

.wrapper-rock img {
  width: 60px;
}

.top-row {
  margin-bottom: 5rem;
  display: flex;
}

.bottom-row {
  margin-bottom: 1rem;
}

.custom-padding {
  margin-right: 7rem;
}

.wrapper-paper, .wrapper-scissors, .wrapper-rock {
  border-radius: 100px;
  width: 154px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: padding-box;
  background: var(--white);
  padding: 2rem;
  position: relative;
  box-shadow: 0 10px 0.5px -2px rgba(0,0,0,0.15) inset;
}

.wrapper-paper:before, .wrapper-scissors:before, .wrapper-rock:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -23px;
  border-radius: 200px;
}

.wrapper-paper:before {
  background-image: linear-gradient(var(--paper-gradient-1), var(--paper-gradient-1));
  box-shadow: 0 10px 0px -1px #2945c5;
}

.wrapper-scissors:before {
  background-image: linear-gradient(var(--scissors-gradient-1), var(--scissors-gradient-1));
  box-shadow: 0 10px 0px -1px #C96C1B;
}

.wrapper-rock:before {
  background-image: linear-gradient(var(--rock-gradient-1), var(--rock-gradient-1));
  box-shadow: 0 10px 0px -1px #9A1E34;
}
/* END - Rock Paper Scissors Game Icons */


/* Step 2 & 3 - You Picked / House Picked */

.wrapper-step-two {
  display: flex;
  justify-content: center;
  margin-top: 2.7rem;
  margin-bottom: 6.45rem;
}

.wrapper-you-picked p, .wrapper-house-picked p {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
  margin-bottom: 5rem;
}

.wrapper-you-picked {
  margin-right: 8rem;
}

.wrapper-you-picked, .wrapper-house-picked {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Blank icon */
.wrapper-blank-house-2 {
  height: 225px;
  width: 225px;
  background: rgba(0,0,0,0.12);
  border-radius: 200px;
  display: block;
}

/* Icon Colour Styles */
.wrapper-paper-icon-2, .wrapper-scissors-icon-2, .wrapper-rock-icon-2, .wrapper-paper-icon-house-3, .wrapper-scissors-icon-house-3, .wrapper-rock-icon-house-3 {
  border-radius: 300px;
  width: 225px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: padding-box;
  background: var(--white);
  padding: 2rem;
  position: relative;
  box-shadow: 0 10px 0.5px -2px rgba(0,0,0,0.15) inset;
}

.wrapper-rock-icon-house-3, .wrapper-paper-icon-house-3, .wrapper-scissors-icon-house3 {
  transition-delay: 1s;
}

.wrapper-paper-icon-2:before, .wrapper-scissors-icon-2:before, .wrapper-rock-icon-2:before, .wrapper-paper-icon-house-3:before, .wrapper-scissors-icon-house-3:before, .wrapper-rock-icon-house-3:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -30px;
  border-radius: 300px;
}

.wrapper-paper-icon-2:before, .wrapper-paper-icon-house-3:before {
  background-image: linear-gradient(var(--paper-gradient-1), var(--paper-gradient-1));
  box-shadow: 0 10px 0px -1px #2945c5;
}

.wrapper-scissors-icon-2:before, .wrapper-scissors-icon-house-3:before {
  background-image: linear-gradient(var(--scissors-gradient-1), var(--scissors-gradient-1));
  box-shadow: 0 10px 0px -1px #C96C1B;
}

.wrapper-rock-icon-2:before, .wrapper-rock-icon-house-3:before {
  background-image: linear-gradient(var(--rock-gradient-1), var(--rock-gradient-1));
  box-shadow: 0 10px 0px -1px #9A1E34;
}

.rock-icon-2, .rock-icon-house-3 {
  height: 96px
}

.paper-icon-2, .paper-icon-house-3, .scissors-icon-2, .scissors-icon-house-3 {
  height: 117px;
}

/* END - Step 2 & 3 - You Picked / House Picked */

.attribution { 
  font-size: 11px;
  text-align: center; 
  margin-top: 7rem;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}